* {
    box-sizing: border-box;
}

html {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
        sans-serif;
    color: #161616;
}

body {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    font-weight: normal;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

button {
    font-family: inherit;
    height: unset;
    cursor: pointer;
}

input,
textarea {
    font-family: inherit;
    text-align: inherit;
    &:focus-visible {
        outline: none;
    }
}

.container {
    padding-inline: 8vw;
}

